extends template 
block content
    .form-box
        .debrief-container#surgury
            div.top
                header New Surgury
                div.input-box
                    input.input-field(select#(name="SurguryType")  placeholder="Surgury Type" option(value="Coronary Artery Bypass Grafting (CABG)") option(value="Valve Replacement Surgery") option(value="Atrial Septal Defect (ASD) Closure") option(value="Ventricular Septal Defect (VSD) Repair") option(value="Heart Transplantation")  required)
                    i.bx.bx-plus-medical
                div.input-box
                    input.submit(type="submit" value="Get Points")
    div.page2
        div.result-container
            h1 points to Improve:
            h2 #{v1}
            h2 #{v2}
            h2 #{v3}
    
        