extends template
block content
    .grid-container
        #piechart
        #chart_div
        #chart_div2
        #curve_chart3
    script( type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script( type="text/javascript") 