extends template
block content
  .container
    .result-container
      h1 Points to Improve:
      ol
        each item in v1
          li= item.DePoint  

  .script
    script.
      setTimeout(function() {
        location.reload();
      }, 1000)
        