extends template
block content
        h1 Choose Month and Year for Statistics
        form(action="/selectStatistics", method="post")
            div.input-box
                label(for="month") Month:
                input.input-field(type="number", name="month", id="month" min="1" max="12" required)
            br
            div.input-box
                label(for="year") Year:
                input.input-field(type="number", name="year", id="year" min="2000" max="2099" required)
            br
            div.input-box
                input.submit(type="submit" value="Get Statistics")
            
            