extends template
block content
    .grid-container
        h1 Leader Percentage
            h2= "="+v2
        br
        h1 Average Satisfaction
            h2= "=" + v4
        br
        h1 Reoperation Percentage
            h2= "=" + v3

