extends template
block content
    .grid-container1
        .leftUp
            h1#he Total Surgeries
            h2#he2=  v4
    
            h1#he Leader
            h2#he2=  v2
        
            h1#he Reoperation
            h2#he2=  v3 +"%"
        .rightUp
            h1#he Satisfaction Last Month
            h2#he2=  v5
    
            h1#he Complications
            h2#he2=  v6
    
            h1#he Exceeded Surgeries
            h2#he2=  v7
        .middle
            h1#he Surgeries by Type
            table
                tr
                    th Type 
                    th Surgeries
                each surgeryType in v8
                    tr 
                        td= surgeryType.SurgeryType
                        td= surgeryType.Count

  
