doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
        link(rel="stylesheet" href="style.css")
        script(defer src="script.js")
        
    body
        .wrapper
            nav.nav
                div.nav-menu#navMenu
                    ul
                        li
                            a.link(href="/" onclick="myMenuFunction()") Statistics
                        li
                            a.link(href="/brief" onclick="myMenuFunction()") Brief
                        li
                            a.link(href="/debrief" onclick="myMenuFunction()") Debrief
                        li
                            a.link(href="/Graphs" onclick="myMenuFunction()") Graphs
            block content  