@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
  }

body{
  background: url("imageHome.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
  }

  .nav{
    position:fixed;
    top: 0;
    left: 0;
    display:flex;
    justify-content: space-around;
    width: 50%;
    height: 100px;
    line-height: 100px;  
  }

  .nav-menu ul{
    display: flex;
  }
  
  .nav-menu ul li{
    list-style-type: none;
  }
  
  .nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #65708a;
    padding-bottom: 15px;
    margin:0 25px ;
    
  }
  
  .link:hover, .active{
    border-bottom: 2px solid #65708a;
    transform: scaleX(0); 
    animation-name: example;
    animation-duration: 4s;
  }

  h1 {
    text-align: center;
    margin-top: 50px; /* Adjust the margin-top value as needed */
    margin-left: 0px;
  }

  
  input[type="number"] {
    width: 100%;
    padding: 3px;
    border: 1px solid white;
    border-radius: 4px;
  }
  
  .input-box1{
    padding: 10px;
  }
  
  #result.result-container {
    margin-top: -50px; /* Adjust the margin-top value as needed */
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  h1 {
    display: block;
    text-align: center;
    font-size: large;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 15px;
  }

  h2{
    font-size: large;
    display: flex;
    margin-top: 10px;
  }
  
  .result-container {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    align-content: center;
    margin-bottom: 150px;
  }

  
  .div.page2{
    display: block;
    align-content: center;
  }


  @keyframes example {
    from {background-color:rgba(74, 94, 107, 0.7);
            border-radius: 30px;
            padding: 20px;}
    to {background-color: rgba(225, 225, 225, 0.2);
        border-radius: 15px;}
  }

  
  .form-box{
    position: fixed;
    display: block;
    margin-top: 100px;
    margin-right: 1000px;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
  }

  .debrief-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: 1s ease-in-out;
  }


  input-field{
    font-size: 15px;
    background: rgba(225, 225, 225, 0.5);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border-radius: 30px;
    border: none;
  } 
  
  
  @media only screen and (max-width: 820px){
    .nav-button{
      display: none;
      margin-top: 50px;
    }
    .nav-menu.responsive{
     top: 100px;
     margin-left: 350px;

    }
    .nav-menu{
      position: absolute;
      display: flex;
      top: -800px;
      justify-content: center;
      background: rgba(225, 225, 225, 0.2);
      width: 100%;
      height: 90vh;
      backdrop-filter:blur(20px);
      transition: .3s ;
    }
    .nav-menu ul{
      flex-direction: column;
      text-align: center;
    }


    .input-field:hover, .input-field:focus{
        background: rgba(225, 225, 225, 0.25);
        }
        ::-webkit-input-placeholder{
        color: #fff;
        }
        
        .input-box i{
        position: relative;
        top: -35px;
        left: 17px;
        color: #fff;
        }
        .submit{
        font-size: 15px;
        font-weight: 500;
        color: black;
        height: 45px;
        width: 100%;
        border: none;
        border-radius: 30px;
        outline: none;
        background: rgba(116, 172, 210, 0.7);
        cursor: pointer;
        transition:3s ease-in-out ;
        }
        
        .submit:hover{
        background: rgba(225, 225, 225, 0.5);
        box-shadow: 1px 5px 7px 1px rgba(225, 225, 225, 0.2);
        }
    }

    @media only screen and (max-width: 540px){
        .wrapper{
          min-height: 100vh;
          margin-top: 50px;
        }
        .form-box{
          width: 100%;
          height: 500px ;
        }
        .debrief-container{
          width: 100%;
          padding: 0 20px;
        }
    
        }