@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url("imageHome.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120vh;
}

.header {
    margin-top: 180px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  line-height: 100px;
}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li {
  list-style-type: none;
}

.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: #65708a;
  padding-bottom: 15px;
  margin: 0 25px;
}

.link:hover, .active {
  border-bottom: 2px solid #65708a;
  transform: scaleX(0);
  animation-name: example;
  animation-duration: 4s;
}

.input-box {
  padding: 5px;
  align-items: center;
}

form {
    margin-top: 20px;
}

.bx{
    font-family: boxicons!important;
    font-style: normal;
    position:absolute;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 25px;
    color: gray;

}

.input-field {
    border: none;
    font-size: 18px;
    text-align: center;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border-radius: 30px;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.9);
    color: #000000;
}

textarea {
    border-radius: 10px;
    overflow: scroll;
    border: none;
    font-size: 18px;
    text-align: center;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.9);
    color: #000000;
    margin-top: 5px;
}

.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(105, 105, 127, 0.2);
    cursor: pointer;
    transition:3s ease-in-out ;
}

.submit:hover{
    background: rgba(105, 105, 127, 0.7);
    box-shadow: 1px 5px 7px 1px rgba(105, 105, 127, 0.5);
}

h1 {
  font-size: 25px;
}


.result-container li{
    margin: 15px;
}

@keyframes example {
  from {
    background-color: rgba(74, 94, 107, 0.7);
    border-radius: 30px;
    padding: 20px;
  }
  to {
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 15px;
  }
}


  .result-container {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    align-content: center;
    margin-bottom: 100px;
    margin-top: 70px;
  }

  ol{
    margin: 50px;
  }

  .grid-container{
    display: grid;
    grid-template-areas: 
    'headerL headerR' 
    'left right';
  }

  #piechart{
    grid-area: headerL;
    width: 800px;
    height: 300px;
    margin: 5px;
  }

  #chart_div{
    grid-area: headerR;
    width: 800px;
    height: 300px;
    margin: 5px;
  }

  #chart_div2{
    grid-area: right;
    width: 800px;
    height: 300px;
    margin: 5px;
  }

  #curve_chart3{
    grid-area: left;
    width: 800px;
    height: 300px;
    margin: 5px;
  }


  h1#he{
    color: #65708a;
  }

  h2#he2{
    font-size: 20px;
  }
  

  





